BasedOnStyle: Microsoft
IndentWidth: 4
ColumnLimit: 100
AllowShortIfStatementsOnASingleLine: Never
AllowShortFunctionsOnASingleLine: None
BreakBeforeBraces: Allman
PointerAlignment: Left
BreakTemplateDeclarations: Yes
AccessModifierOffset: -4
