Checks: >
  bugprone-*, 
  clang-analyzer-*,
  concurrency-*,
  misc-*,
  performance-*,
  readability-*,
  -bugprone-easily-swappable-parameters,
  -bugprone-narrowing-conversions,
  -bugprone-nondeterministic-pointer-iteration-order,
  -clang-analyzer-cplusplus.NewDeleteLeaks,
  -clang-analyzer-optin.performance.Padding,
  -clang-analyzer-security.FloatLoopCounter,
  -clang-analyzer-security.insecureAPI.strcpy,
  -misc-const-correctness,
  -misc-include-cleaner,
  -misc-no-recursion,
  -misc-non-private-member-variables-in-classes,
  -misc-use-anonymous-namespace,
  -misc-use-internal-linkage,
  -readability-braces-around-statements,
  -readability-container-data-pointer,
  -readability-function-cognitive-complexity,
  -readability-identifier-length,
  -readability-implicit-bool-conversion,
  -readability-magic-numbers,
  -readability-named-parameter,
  -readability-uppercase-literal-suffix,
  -readability-use-anyofallof,
WarningsAsErrors: '*'
HeaderFilterRegex: '.*'
FormatStyle: file
