Checks: >
  clang-analyzer-*,
  bugprone-*,
  readability-*,
  performance-*,
  concurrency-*,
  misc-*,
  -bugprone-narrowing-conversions,
WarningsAsErrors: '*'
HeaderFilterRegex: '.*'
FormatStyle: file
